<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carcoop.helpme">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.carcoop.helpme.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Carcoop">

        <activity android:name="com.carcoop.helpme.Activity.AboutUs" />
        <activity android:name="com.carcoop.helpme.Activity.Edit_Deatails" />
        <activity android:name="com.carcoop.helpme.Activity.ShowPreviousEmergencydetail" />
        <activity android:name="com.carcoop.helpme.Activity.Video_fullScreen" />
        <activity android:name="com.carcoop.helpme.Activity.Image_fullScreen" />
        <activity android:name="com.carcoop.helpme.Activity.Emergency_activity"></activity>
        <activity
            android:name="com.carcoop.helpme.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.carcoop.helpme.Activity.MainRegistration"
            android:label="HelpMeNow" />
        <activity android:name="com.carcoop.helpme.Activity.Home" />
        <activity android:name="com.carcoop.helpme.Activity.GetLocationOfUser" />
        <activity android:name="com.carcoop.helpme.Activity.AttachmentVideoActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>